.page__follow {}

.follow {}

.follow__container-big {}

.follow__container {
	padding: 22px 64px 128px;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (max-width: 1350px) {
		padding: 22px 0px 128px;
	}
	@media (max-width: 1024px) {
		padding: 22px 0px 80px;
	}
	@media (max-width: 768px) {
		padding: 22px 0px 40px;
	}
}

.follow__title {
	max-width: 453px;

	font-size: 56px;
	line-height: 100%;
	text-align: center;
	color: #1F1E1E;

	@media (max-width: 768px) {
		font-size: 40px;
	}
	@media (max-width: 425px) {
		font-size: 30px;
	}

}

.follow__inst-link {
	color: #a5a4a4;
}

.follow__button {
	max-width: 161px;
	margin-top: 56px;
	@media (max-width: 768px) {
		margin-top: 20px;
	}
}

.follow__gallery {
	margin-top: 64px;
	@media (max-width: 768px) {
		margin-top: 40px;
	}
}

.gallery-follow {}

.gallery-follow__list {
	display: flex;
	column-gap: 32px;

	&>*:nth-child(1)::after {
		content: " ";
		position: absolute;
		top: 15.8px;
		right: -16px;
		width: 1px;
		height: 232px;
		background: rgba(0, 0, 0, 0.12);
	}

	&>*:nth-child(2)::after {
		content: " ";
		position: absolute;
		top: 15.8px;
		right: -16px;
		width: 1px;
		height: 232px;
		background: rgba(0, 0, 0, 0.12);
	}

	&>*:nth-child(3)::after {
		content: " ";
		position: absolute;
		top: 15.8px;
		right: -16px;
		width: 1px;
		height: 232px;
		background: rgba(0, 0, 0, 0.12);
	}

	@media (max-width: 1200px) {
		flex-wrap: wrap;
		justify-content: center;
		row-gap: 32px;
		&>*:nth-child(3)::after {
			content: none;
			position: absolute;
			top: 15.8px;
			right: -16px;
			width: 1px;
			height: 232px;
			background: rgba(0, 0, 0, 0.12);
		}
	}
	@media (max-width: 895px) {
		&>*:nth-child(3)::after {
			content: " ";
			position: absolute;
			top: 15.8px;
			right: -16px;
			width: 1px;
			height: 232px;
			background: rgba(0, 0, 0, 0.12);
		}
		&>*:nth-child(2)::after {
			content: none;
			position: absolute;
			top: 15.8px;
			right: -16px;
			width: 1px;
			height: 232px;
			background: rgba(0, 0, 0, 0.12);
		}
	}
	@media (max-width: 589px) {
		&>*:nth-child(1)::after {
			content: none;
			position: absolute;
			top: 15.8px;
			right: -16px;
			width: 1px;
			height: 232px;
			background: rgba(0, 0, 0, 0.12);
		}
		
		&>*:nth-child(3)::after {
			content: none;
			position: absolute;
			top: 15.8px;
			right: -16px;
			width: 1px;
			height: 232px;
			background: rgba(0, 0, 0, 0.12);
		}
	}
}

.gallery-follow__items {
	max-width: 264px;
	position: relative;
}

.items-gallery-follow {}

.items-gallery-follow_link {
	max-width: 264px;
}

.items-gallery-follow__image {
	max-width: 264px;
	& img{
		width: 100%;
		height: 100%;
	}
}

.items-gallery-follow__title {
	border-top: 1px solid rgba(255, 255, 255, 0.24);
	position: absolute;
	bottom: 10px;
	left: 12px;
	max-width: 221px;
	padding-top: 8px;
	font-size: 12px;
	line-height: 133%;
	color: #FFFFFF;
}